@model CreateProductViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Product</h1>


<form asp-action="Create">
    <div class="form-group">
        <label for="txtName">Description</label>
        <input asp-for="Description" type="text" class="form-control" id="txtDescription">
    </div>
    <div class="form-group">
        <label for="txtEmail">Amount</label>
        <input asp-for="Amount" type="text" class="form-control" id="txtAmount">
    </div>
    <div class="form-group">
        <label for="cbStatus">Status</label>
        <select asp-for="Status" class="form-control" id="cbStatus">
            <option>Active</option>
            <option>Inactive</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>


